.select_custom {
  overflow-y: auto;
  max-height: 200px;
}

.select_custom::-webkit-scrollbar {
  width: 8px;
}

.select_custom::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.select_custom::-webkit-scrollbar-thumb {
  background: #3273dc;
  border-radius: 4px;
}

.select_custom::-webkit-scrollbar-thumb:hover {
  background: #3273dc;
}

.select_custom {
  scrollbar-width: thin;
  scrollbar-color: #3273dc #f0f0f0;
}
