/* Стили для scrollbar */
.select_custom {
  overflow-y: auto; /* Включаем вертикальную прокрутку, если нужно */
  max-height: 200px; /* Устанавливаем максимальную высоту списка */
}

/* Кастомизируем scrollbar для Webkit браузеров (Chrome, Safari, Edge) */
.select_custom::-webkit-scrollbar {
  width: 8px; /* Устанавливаем ширину полосы прокрутки */
}

.select_custom::-webkit-scrollbar-track {
  background: #f0f0f0; /* Цвет фона track (области прокрутки) */
}

.select_custom::-webkit-scrollbar-thumb {
  background: #3273dc; /* Цвет самой полосы прокрутки */
  border-radius: 4px; /* Закругляем края полосы прокрутки */
}

.select_custom::-webkit-scrollbar-thumb:hover {
  background: #3273dc; /* Цвет полосы при наведении */
}

/* Для Firefox */
.select_custom {
  scrollbar-width: thin;
  scrollbar-color: #3273dc #f0f0f0; /* Цвет полосы прокрутки и её фона */
}
